anthropic==0.39.0
azure_storage==0.37.0
datasets==2.21.0
matplotlib==3.9.2
numpy==1.23.5
openai==1.54.4
pandas==2.2.3
Pillow==11.0.0
protobuf==5.28.3
qwen_vl_utils==0.0.8
Requests==2.32.3
scipy==1.14.1
seaborn==0.13.2
sentence_transformers==3.0.1
submitit==1.5.2
torch==2.4.1
tqdm==4.66.4
transformers==4.48.0
